version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: pixelhavn-app
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./:/var/www/html
    depends_on:
      - mariadb
      - redis

  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    container_name: pixelhavn-nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - app

  realtime:
    build:
      context: .
      dockerfile: docker/node/Dockerfile
    container_name: pixelhavn-realtime
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3001:3001"
    command: sh -c "npm install && npm run start"
    volumes:
      - ./realtime:/usr/src/app
      - realtime_node_modules:/usr/src/app/node_modules
    depends_on:
      - redis
      - mariadb
      - nginx

  redis:
    image: redis:7.4-alpine
    container_name: pixelhavn-redis
    restart: unless-stopped
    ports:
      - "6379:6379"

  mariadb:
    image: mariadb:11.4
    container_name: pixelhavn-mariadb
    restart: unless-stopped
    environment:
      MARIADB_DATABASE: ${DB_DATABASE}
      MARIADB_USER: ${DB_USERNAME}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:
  realtime_node_modules:
